{% extends "base.html" %}
{% block body %}

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{carousal.0.image.url}}" style="width: 100%; height: 400px; object-fit: fit;" class="d-block w-100" alt="{{carousal.0.image.url}}">
    </div>  
    <div class="carousel-item">
      <img src="{{carousal.1.image.url}}" style="width: 100%; height: 400px; object-fit: fit;" class="d-block w-100" alt="{{carousal.1.image.url}}">
    </div>
    <div class="carousel-item">
      <img src="{{carousal.2.image.url}}" style="width: 100%; height: 400px; object-fit: fit;" class="d-block w-100" alt="{{carousal.2.image.url}}">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <!-- Main content here -->
  <div class="container">
    <h1 class="text-center mt-4">Welcome to ElectroShop</h1>
    <p class="text-center">Find the latest electronic gadgets here.</p>
  </div>

{% endblock body %}

  
